@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(180deg, #A020F0, #7D0DC3, #570987);
}

.card
{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    position: relative;
}

.image
{
    width: 400px;
    height: 400px;
    opacity: 1;
    transition: 0.9s;
}
.image-hidden
{
    transform: translate(0%, -101%);
    width: 400px;
    height: 400px;
    opacity: 0;
    transition: 0.9s;
    background-repeat: no-repeat;
}

.card:hover .image
{
    opacity: 0;
}

.card:hover .image-hidden
{
    opacity: 1;
}